/*###################################################*/
/*...................................................*/
/* root variables (responsive font size installed)   */
/*...................................................*/
/*###################################################*/

:root {
    /* font-size */
    --fs-b: 14px;
    --blue: rgb(1, 72, 130);
    --blue-mono: rgb(34, 101, 156);
    --red: rgb(212, 29, 33);
    --red-mono: rgb(233, 85, 87);
    --green: #007d00;
    --green-mono: #bfffbf;
    --gold: rgb(210, 178, 126);
    --gold-mono: rgb(235, 213, 179);
    --dark: #101c33;
    --dark-mono: #2d3f5f;
    --transition-speed: 600ms;
}

/* tablet up */
@media (min-width: 768px) {
    :root {
        /* font-size */
        --fs-b: 16px;
    }
}

/* end tablet up */

/* laptop up */
@media (min-width: 1279px) {
    :root {
        /* font-size */
        --fs-b: 18px;
    }
}

/* end laptop up */

/* desktop up */
@media (min-width: 1300px) {
    :root {
        /* font-size */
        --fs-b: 22px;
    }
}

/*###################################################*/
/*...................................................*/
/* end root variables                                */
/*...................................................*/
/*###################################################*/


/*###################################################*/
/*...................................................*/
/* general properties                                */
/*...................................................*/
/*###################################################*/
* {
    margin: 0;
    padding: 0;
}

html {
    /* scroll smooth from nav control */
    scroll-behavior: smooth;
    /* font size general control using variable */
    font-size: var(--fs-b);

}

body {
    /* scroll spy */
    overflow-y: scroll;
    margin: 0;
    padding: 0;
    background-color: #000;
    color: rgb(172, 169, 169);
}

/* scroll bar */
body::-webkit-scrollbar {
    width: 0.25rem;
}

body::-webkit-scrollbar-track {
    background: var(--dark);
}

body::-webkit-scrollbar-thumb {
    background: var(--dark-mono);
}

html,
body {
    overflow: auto;
    height: 100%;
}

.mt-1 {
    margin-top: 0.4rem;
}

.mt-2 {
    margin-top: 1rem;
}

.mt-3 {
    margin-top: 2rem;
}

.mb-1 {
    margin-bottom: 0.4rem;
}

.mb-2 {
    margin-bottom: 1rem;
}

.mb-3 {
    margin-bottom: 2rem;
}

.ml-1 {
    margin-left: 0.4rem;
}

.ml-2 {
    margin-left: 1rem;
}

.ml-3 {
    margin-left: 2rem;
}

.mr-1 {
    margin-right: 0.4rem;
}

.mr-2 {
    margin-right: 1rem;
}

.mr-3 {
    margin-right: 2rem;
}

/*###################################################*/
/*...................................................*/
/* end general properties                            */
/*...................................................*/
/*###################################################*/

/*###################################################*/
/*...................................................*/
/* layout */
/*...................................................*/
/*###################################################*/

main {
    display: flex;
    width: 100%;
    height: 100%;
}

.portada {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: var(--dark);
    width: 61.8VW;
    font-size: 2rem;
}

.portada img {
    height: 9rem;
    margin-bottom: 3rem;
}

.login {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: var(--red);
    width: 38.2vw;
    height: 100%;
    color: #fff;
    font-size: 2rem;

}

.login img {
    width: 2rem;
    margin-right: 1rem;
    margin-top: auto;
    margin-bottom: 1rem;

}

.login-center {
    align-self: center;
    justify-self: center;
}

.g-signin2 {
    margin-top: 1rem;
}

.fa-lock {
    font-size: 1.5rem;
}

#error {
    background-color: var(--gold);
    font-size: 0.9rem;
    margin: 0.4rem;
    margin-top: 1rem;
    padding: 0.4rem;
    margin-bottom: auto;
    visibility: hidden;
}

/*###################################################*/
/*...................................................*/
/* end layout */
/*...................................................*/
/*###################################################*/

