/*###################################################*/
/*...................................................*/
/* root variables (responsive font size installed)   */
/*...................................................*/
/*###################################################*/

:root {
    /* font-size */
    --fs-b: 14px;
    --blue: rgb(1, 72, 130);
    --blue-mono: rgb(34, 101, 156);
    --red: rgb(212, 29, 33);
    --red-mono: rgb(233, 85, 87);
    --green: #007d00;
    --green-mono: #bfffbf;
    --gold: rgb(210, 178, 126);
    --gold-mono: rgb(235, 213, 179);
    --dark: #101c33;
    --dark-mono: #2d3f5f;
    --transition-speed: 600ms;
}

/* tablet up */
@media (min-width: 768px) {
    :root {
        /* font-size */
        --fs-b: 16px;
    }
}

/* end tablet up */

/* laptop up */
@media (min-width: 1279px) {
    :root {
        /* font-size */
        --fs-b: 18px;
    }
}

/* end laptop up */

/* desktop up */
@media (min-width: 1300px) {
    :root {
        /* font-size */
        --fs-b: 22px;
    }
}

/*###################################################*/
/*...................................................*/
/* end root variables                                */
/*...................................................*/
/*###################################################*/


/*###################################################*/
/*...................................................*/
/* general properties                                */
/*...................................................*/
/*###################################################*/
* {
    margin: 0;
    padding: 0;
}

html {
    /* scroll smooth from nav control */
    scroll-behavior: smooth;
    /* font size general control using variable */
    font-size: var(--fs-b);

}

body {
    /* scroll spy */
    overflow-y: scroll;
    margin: 0;
    padding: 0;
    background-color: #000;
    color: rgb(172, 169, 169);
}

/* scroll bar */
body::-webkit-scrollbar {
    width: 0.25rem;
}

body::-webkit-scrollbar-track {
    background: var(--dark);
}

body::-webkit-scrollbar-thumb {
    background: var(--dark-mono);
}

html,
body {
    overflow: auto;
    height: 100%;
}

.mt-1 {
    margin-top: 0.4rem;
}

.mt-2 {
    margin-top: 1rem;
}

.mt-3 {
    margin-top: 2rem;
}

.mb-1 {
    margin-bottom: 0.4rem;
}

.mb-2 {
    margin-bottom: 1rem;
}

.mb-3 {
    margin-bottom: 2rem;
}

.ml-1 {
    margin-left: 0.4rem;
}

.ml-2 {
    margin-left: 1rem;
}

.ml-3 {
    margin-left: 2rem;
}

.mr-1 {
    margin-right: 0.4rem;
}

.mr-2 {
    margin-right: 1rem;
}

.mr-3 {
    margin-right: 2rem;
}

/*###################################################*/
/*...................................................*/
/* end general properties                            */
/*...................................................*/
/*###################################################*/

/*###################################################*/
/*...................................................*/
/* layout */
/*...................................................*/
/*###################################################*/

/*-------------------------------*/
/* main */
/*-------------------------------*/
main {
    margin: 0;
}

/* cellphone landscape up */
@media (min-width: 576px) {
    main {
        margin-left: 5rem;
        padding: 2rem;
    }
}

/* end cellphone landscape up */

/* controla todos los elementos padres dentro del grid */
main>div {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-auto-rows: auto;
    gap: 1rem;
    background-color: var(--blue);
    padding: 1.5rem;
    margin-top: 3rem;
}

/*-------------------------------*/
/* end main */
/*-------------------------------*/

/*-------------------------------*/
/* nav */
/*-------------------------------*/

.navbar {
    position: fixed;
    background: var(--dark-mono);
    transition: width var(--transition-speed) ease;
    -webkit-transition: width var(--transition-speed) ease;
    -moz-transition: width var(--transition-speed) ease;
    -ms-transition: width var(--transition-speed) ease;
    -o-transition: width var(--transition-speed) ease;
    overflow: scroll;
    bottom: 0;
    width: 100vw;
    height: calc(var(--vh, 1vh) * 100);
    z-index: 40;
}



.navbar-nav {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 100%;
}

.nav-item {
    width: 100%;
    cursor: pointer;
}

.nav-item:last-child {
    margin-top: auto;
}

.nav-link {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 4rem;
    color: rgb(172, 165, 165);
    text-decoration: none;
    filter: grayscale(100%) opacity(0.7);
    -webkit-filter: grayscale(100%) opacity(0.7);
    transition: var(--transition-speed);
    -webkit-transition: var(--transition-speed);
    -moz-transition: var(--transition-speed);
    -ms-transition: var(--transition-speed);
    -o-transition: var(--transition-speed);
}

.nav-link:hover {
    filter: grayscale(0%) opacity(1);
    -webkit-filter: grayscale(0%) opacity(1);
    background: var(--dark);
    color: white;
}

/* íconos de la barra */
.nav-link .fa-primary {
    color: var(--gold);
}

.nav-link .fa-secondary {
    color: var(--gold-mono);
}

.nav-link svg {
    min-width: 2rem;
    margin: 0 1rem;
    font-size: 2.3rem;
}

.nav-link .fa-primary,
.nav-link .fa-secondary {
    transition: var(--transition-speed);
    -webkit-transition: var(--transition-speed);
    -moz-transition: var(--transition-speed);
    -ms-transition: var(--transition-speed);
    -o-transition: var(--transition-speed);
}

/* end íconos de la barra */

/* logo */
.logo {

    display: none;
    cursor: pointer;

}

/* end logo */
.link-text {
    display: none;
    font-size: 1.3rem;
}

/* cellphone portrait down */
@media (min-width: 576px) {
    .navbar {
        width: 5rem;
        height: 100vh;
    }

    .navbar:hover {
        width: 16rem;
    }


    .navbar-nav {
        flex-direction: column;
    }

    .nav-link {
        justify-content: flex-start;
    }

    /* logo */
    .logo {
        display: flex;
        width: 100%;
        font-weight: bold;
        text-transform: uppercase;
        margin-bottom: 1rem;
        text-align: center;
        color: var(--blue-mono);
        background: var(--blue);
        letter-spacing: 0.3ch;
    }

    .logo svg {
        transform: rotate(0deg);
        -webkit-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        transition: transform var(--transition-speed);
        -webkit-transition: transform var(--transition-speed);
        -moz-transition: transform var(--transition-speed);
        -ms-transition: transform var(--transition-speed);
        -o-transition: transform var(--transition-speed);
    }

    .navbar:hover .logo svg {
        transform: rotate(-180deg);
        -webkit-transform: rotate(-180deg);
        -moz-transform: rotate(-180deg);
        -ms-transform: rotate(-180deg);
        -o-transform: rotate(-180deg);
    }

    .logo-text {

        transition: var(--transition-speed);
        width: 10rem;
    }

    /* end logo */

    .navbar:hover .link-text {
        display: block;
    }

}

/* end cellphone portrait down */


/*-------------------------------*/
/* end nav */
/*-------------------------------*/

/*###################################################*/
/*...................................................*/
/* end layout */
/*...................................................*/
/*###################################################*/

/*###################################################*/
/*...................................................*/
/* grids */
/*...................................................*/
/*###################################################*/

/*-------------------------------*/
/* rehutilizable */
/*-------------------------------*/

/* bases de datos */
.base {

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: var(--red);
    color: #fff;
    padding: 1rem;
    text-decoration: none;
    font-size: 1.1rem;
    outline: none;
    transition: outline 0.6s linear;
    margin: 0.5em;
    text-align: center;
}

.base:hover {
    outline: solid 5px #fff;
    transition: outline 0.3s linear;
    margin: 0.5em;
    -webkit-transition: outline 0.3s linear;
    -moz-transition: outline 0.3s linear;
    -ms-transition: outline 0.3s linear;
    -o-transition: outline 0.3s linear;
}

.base>svg {
    font-size: 3rem;
    margin-bottom: 0.3rem;
}

/* end bases de datos */

/* bases de datos */
.baseSheets {

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: var(--green);
    color: #fff;
    padding: 1rem;
    text-decoration: none;
    font-size: 1.1rem;
    outline: none;
    transition: outline 0.6s linear;
    margin: 0.5em;
    text-align: center;
}

.baseSheets:hover {
    outline: solid 5px #fff;
    transition: outline 0.3s linear;
    margin: 0.5em;
    -webkit-transition: outline 0.3s linear;
    -moz-transition: outline 0.3s linear;
    -ms-transition: outline 0.3s linear;
    -o-transition: outline 0.3s linear;
}

.baseSheets>svg {
    font-size: 3rem;
    margin-bottom: 0.3rem;
}

.sheetsLogo {
    font-size: 1rem !important;
    align-self: flex-end;
}

/* end bases de datos */

/* inndicadores */

.indicador {

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: var(--gold);
    color: rgb(66, 64, 64);
    padding: 1rem;
    text-decoration: none;
    font-size: 1.3rem;
    outline: none;
    border: none;
    transition: outline 0.6s linear;
    margin: 0.5em;
    cursor: pointer;

}

.indicador:hover {
    outline: solid 5px #fff;
    transition: outline 0.3s linear;
    margin: 0.5em;
    -webkit-transition: outline 0.3s linear;
    -moz-transition: outline 0.3s linear;
    -ms-transition: outline 0.3s linear;
    -o-transition: outline 0.3s linear;
}

.indicador>svg {
    font-size: 3rem;
    margin-bottom: 0.3rem;
}

.panel {
    grid-column: span 4;
    display: none;
    width: 100%;
    height: 30rem;
    border: none;
    transition: 0.4s;
    overflow: hidden;
}

/* end indicadires */

/* numeros */

.numero {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: rgb(206, 214, 206);
    color: var(--blue);
    padding: 0.5rem;
    text-decoration: none;
    font-size: 1.1rem;
    outline: none;
    margin: 0.5em;
    text-align: center;
}

.numero .dato {
    font-size: 3rem;
}

.dato-med {
    font-size: 1.5rem;
}

.dato-med {
    font-size: 1.5rem;
    margin-left: 0.4rem;
}

/* end numeros */

/* títulos */
.titulo {
    grid-column: span 4;
    text-align: center;
    font-size: 2.4rem;
}

/* end títulos */

/* barra de progreso */
.progress-container {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
    margin-top: 1.2rem;
    font-size: 0.7rem;
    font-weight: bold;
}

.progress-bar {
    height: 1.3rem;
    background-color: var(--gold);
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 0.3rem;
    animation: progressBar 3s ease-in-out;
    animation-fill-mode: both;
}

@keyframes progressBar {
    0% {
        width: 0;
    }

    100% {
        width: 100%;
    }
}

/* end barra de progreso */
/*-------------------------------*/
/* end rehutilizable */
/*-------------------------------*/

/*-------------------------------*/
/* googleId */
/*-------------------------------*/
#googleId {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

#escudo-up {
    width: 1.8rem;
    margin-right: auto;
}

#googleId #photoUser {
    width: 2.2rem;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}

.fa-sign-out {
    color: #fff;
    font-size: 2rem;
}

.fa-sign-out:hover {
    font-size: 2.3rem;
    color: var(--gold);
}

/*-------------------------------*/
/* end googleId */
/*-------------------------------*/

/*-------------------------------*/
/* coordinación General */
/*-------------------------------*/



#grafica-avisos-academicos {
    grid-column: span 2;
}

#grafica-avisos-disciplinares {
    grid-column: span 2;
}

#alumnos-inscritos {
    grid-column: span 2;
    display: flex;
    flex-direction: row;
}

#alumnos-inscritos>div {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin-left: 2rem;

}

#alumnos-inscritos .fa-arrow-alt-circle-down {
    margin-left: 0.5rem;
    margin-right: 0.5rem;
}

.divisor {
    font-size: 3rem;
}

/*-------------------------------*/
/* end coordinación General */
/*-------------------------------*/


/*-------------------------------*/
/* secretaría académica */
/*-------------------------------*/


#numReprobadas {
    grid-row: span 2;
    grid-column: span 3;
    height: 18rem;
}


/*-------------------------------*/
/* end secretaría académica */
/*-------------------------------*/


/*-------------------------------*/
/* comunicación */
/*-------------------------------*/

#piechart-servicio {

    grid-row: span 2;
    grid-column: span 2;

}

/*-------------------------------*/
/* end comunicación */
/*-------------------------------*/

/*-------------------------------*/
/* administración */
/*-------------------------------*/
#ingreso-total,
#egreso-total,
#contibucion-total,
#ahorro-total {
    grid-row: span 2;

}

.contenedor-real-total>div,
.contenedor-presupuestado {

    display: flex;
    align-items: center;
    justify-content: center;
}

.contenedor-real-total>div:last-child {
    font-size: 1rem;
}

.titulo-ingresos-egresos {
    font-size: 1.5rem;
    margin-bottom: 2rem;
}

#piechart-presupuesto {

    grid-row: span 2;

}



#ingresos {
    grid-row: span 4;
    grid-column: span 4;
}

#egresos {
    grid-row: span 4;
    grid-column: span 4;
}

#contribucion {
    grid-row: span 4;
    grid-column: span 4;
}

/*-------------------------------*/
/* end administración */
/*-------------------------------*/

/*-------------------------------*/
/* extraescolares */
/*-------------------------------*/





/*-------------------------------*/
/* end extraescolares */
/*-------------------------------*/

/*-------------------------------*/
/* admisión */
/*-------------------------------*/

#meta-inscritos {
    grid-row: span 2;
    grid-column: span 2;
    font-size: 2.2rem;
}

#meta-inscritos .dato {

    font-size: 13rem;
}

.tooltipTriggerContainer {
    display: flex;
    align-items: flex-start;
    width: 100%;
}

.tooltipTrigger {
    cursor: help;
    position: relative;
    display: inline-block;
    background-color: rgba(255, 0, 0, 0);
    border: none;
    font-size: 1.4rem;
}

.tooltipTrigger .tooltiptext {
    visibility: hidden;
    width: 14rem;
    background-color: #555;
    color: #fff;
    text-align: left;
    border-radius: 6px;
    padding: 0.6rem;
    position: absolute;
    z-index: 1;
    bottom: 125%;
    left: 50%;
    margin-left: -60px;
    opacity: 0;
    transition: opacity 0.3s;
    font-size: 0.8rem;
}

.tooltipTrigger .tooltiptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
}

.tooltipTrigger:focus .tooltiptext {
    visibility: visible;
    opacity: 1;
}

.tooltipTrigger:hover {
    color: red;
}

@media (focus:focus) {
    .tooltipTrigger {
        color: green;
    }

    .tooltipTrigger .tooltiptext {
        visibility: visible;
        opacity: 1;
    }
}

/*-------------------------------*/
/* end admisión */
/*-------------------------------*/

/*-------------------------------*/
/* formación */
/*-------------------------------*/

#bars-asesorias {
    grid-row: span 3;
    grid-column: span 3;
    height: 20rem;
}

#cursos-padres {
    grid-row: span 4;
    grid-column: span 1;
    background-color: rgb(206, 214, 206);
    color: var(--blue);
    padding: 0.5rem;
    padding-top: 1.7rem;
    font-size: 1.5rem;
    outline: none;
    margin: 0.5em;
}

#cursos-padres #stats {

    margin-top: 2rem;
    margin-left: 0.5rem;

}

#stats li {
    margin: 1.5rem;
}

/*-------------------------------*/
/* end formación */
/*-------------------------------*/

/*###################################################*/
/*...................................................*/
/* end grids */
/*...................................................*/
/*###################################################*/



.filterDiv {

    display: none;
}

.show {
    display: grid;
}

.g-signin2 {
    visibility: hidden;
}