/*###################################################*/
/*...................................................*/
/* root variables (responsive font size installed)   */
/*...................................................*/
/*###################################################*/

:root {
    /* font-size */
    --fs-b: 14px;
    /* variable Colors */
    --background:#fff;
    --text:#000;
    --primary: #1A326C;
    --primary-mono: #3b5186;
    --contrast:#B99857;
    --contrast-mono:#a08e6b;
}

/* tablet up */
@media (min-width: 768px) {
    :root {
        /* font-size */
        --fs-b: 16px;
    }
}

/* end tablet up */

/* laptop up */
@media (min-width: 1279px) {
    :root {
        /* font-size */
        --fs-b: 18px;
    }
}

/* end laptop up */

/* desktop up */
@media (min-width: 1300px) {
    :root {
        /* font-size */
        --fs-b: 22px;
    }
}

/*###################################################*/
/*...................................................*/
/* end root variables                                */
/*...................................................*/
/*###################################################*/


/*###################################################*/
/*...................................................*/
/* general properties                                */
/*...................................................*/
/*###################################################*/

html {
    /* scroll smooth from nav control */
    scroll-behavior: smooth;
    /* font size general control using variable */
    font-size: var(--fs-b);

    font-family: 'Nunito', sans-serif;
    

}
body{
    margin: 0;
    padding: 0;
}

.secciones{
   
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
section{
     width: 100vw;
    max-width: 1800px; 
}

/*###################################################*/
/*...................................................*/
/* end general properties                            */
/*...................................................*/
/*###################################################*/

/*###################################################*/
/*...................................................*/
/* nav */
/*...................................................*/
/*###################################################*/
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;


    padding: 1rem;
    /* margin-bottom: 0.5rem; */
    border-bottom: solid 4px  var(--primary);
}
.escudoPrepa{
    width: 3rem;
    height: auto;
}
nav span{
    font-size: 1.5rem;
    margin-left: 1rem;
}

#title{
    display: flex;
    align-items: center;
    justify-content: center;
}

/*###################################################*/
/*...................................................*/
/* end nav */
/*...................................................*/
/*###################################################*/

/*###################################################*/
/*...................................................*/
/* instrucciones */
/*...................................................*/
/*###################################################*/

#instrucciones{
    min-height: 60vh;
    padding: 3rem 0;
}

#instrucciones > div{
    color: #fff;
    background-color: var(--contrast);
    padding: 2rem;
    margin: 1rem;
}

/* tablet portrait up */
@media (min-width: 768px) {
    #instrucciones{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 1rem;
    }
}
/* end tablet up */
.paso div{
    display: flex;
    align-items: center;
    justify-content: center;
}
.paso > svg{
    height: 2rem;
}
.paso div svg{
    height:4rem;
    margin-left: 1rem;
}

#agente{
    font-size: 1rem;
    height: 1.3rem;
    margin:0;
}
/*###################################################*/
/*...................................................*/
/* end instrucciones */
/*...................................................*/
/*###################################################*/

/*###################################################*/
/*...................................................*/
/* login */
/*...................................................*/
/*###################################################*/

#login{
    padding: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

#loadingContainer{
    display: flex;
    align-items: center;
    justify-content: center;
}

#loadingContainer img{
    width: 40%;
    margin: auto 0;
    
}
/*###################################################*/
/*...................................................*/
/* end login */
/*...................................................*/
/*###################################################*/

/*###################################################*/
/*...................................................*/
/* iframe */
/*...................................................*/
/*###################################################*/

#iframeContainer{
    width: 100%;
    overflow: hidden;
   
    
}

#iframeContainer iframe{
    width: 100%;
    height: 100%;
    min-height: 90vh;

    overflow: hidden;
}


/*###################################################*/
/*...................................................*/
/* end iframe */
/*...................................................*/
/*###################################################*/


/*###################################################*/
/*...................................................*/
/* footer */
/*...................................................*/
/*###################################################*/

footer {
    background-color: var(--primary);
    font-size: 0.7rem;
    color: var(--background);
    padding: 2rem 4rem;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 2rem;

}

footer > div{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.footerLi {
    list-style: none;
}

footer a {
    color: var(--background);
}

footer a :hover {
    color: var(--contrast);
}
.social-footer{
    margin-top: 1rem;
}
.social-footer a {
    margin: 1rem;
    font-size: 1.3rem;
}

.logoFooter {
    width: 13rem;
    height: auto;
}

/*###################################################*/
/*...................................................*/
/* end footer */
/*...................................................*/
/*###################################################*/



